requests
lxml
pyyaml
tldextract
flask
jieba
tqdm
waitress
guppy3
brotli
urllib3
rimo-storage
rimo-utils
fasttext
Levenshtein
orjson
# persist-queue==0.8.0  # 不再需要
numpy
pypinyin
prometheus-client
Werkzeug
meilisearch